<div class="main-container">
  <div class="row">
    <div class="col-md-4" *ngFor="let manga of mangaList">
      <div class="book-card" (click)="showMangaDetail(manga)">
        <img
          src="assets/images/manga/{{ manga.imageUrl }}"
          alt="{{ manga.title }}"
        />
        <h4>{{ manga.title }}</h4>
        <p>Price: {{ manga.price | currency }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row2">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <nav>
      <ul class="pagination">
        <li class="page-item" *ngFor="let page of paginationNum">
          <a
            class="page-link"
            (click)="changePage(page)"
            [class.active]="currentPage === page"
          >
            {{ page }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
